$glass-grey: rgb(128, 128, 128, calc(1/3));
$glass-grey-hover: rgb(128, 128, 128, calc(2/3));

@import 'govuk-frontend';

@import "../../../main/views/jgw/components/_all.scss";

html {
    font-family: "GDS Transport", arial, sans-serif;
}

.title-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.task-details-title {
    margin: 0;
    margin-right: auto;
}

.nav-link {
    margin-bottom: 1rem;
    position: absolute;
}
.entity-action-link {
    font-size: 2rem;
}
.nav-link, .entity-action-link {
    display: block;
}
.nav-link:link, .entity-action-link:link {
    color: black;
}
.nav-link:visited, .entity-action-link:visited {
    color: black;
}
.nav-link:hover, .entity-action-link:hover {
    color: black;
    opacity: .5;
}
.nav-link:active, .entity-action-link:active {
    color: black;
}
.fake-link {
    text-decoration: underline;
    cursor: pointer;
}

.task-form {
    width: 50%;
}
.task-form label, .task-form button {
    font-weight: bold;
}
.task-form label {
    width: 5rem;
}
.task-form > * {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;
    margin-bottom: 1rem;
}
.task-form .text-input, .task-form .datetime-input {
    width: 50%;

    flex-grow: 1;
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.task-form .button-input {
    margin-left: auto;
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border: none;

    background-color: $glass-grey;
}
.task-form .button-input:hover {
    background-color: $glass-grey-hover;
    cursor: pointer;
}
.task-form * {
    border-radius: 0;
}