{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <a class="nav-link" href="/">Home</a>
  <div class="title-flex">
    <h1 class="govuk-heading-xl task-details-title">Creating New Task</h1>
  </div>
  
    <form>
      <label>
        Title
        <input type="text"></input>
      </label>
      <label>
        Description
        <input type="text"></input>
      </label>
      <label>
        LABEL
        <input type="text"></input>
      </label>
      <label>
        LABEL
        <input type="text"></input>
      </label>
      <input type="submit"></input>
    </form>

{% endblock %}
