{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block head %}
  {{ super() }}
  <script src="client.js" defer></script>
{% endblock %}

{% block content %}
  <a class="nav-link" href="/">Home</a>

  {% if task %}
    <div class="title-flex">
      {% if (task.title | truncateLongString) !== task.title %}
        <h1 class="govuk-heading-xl task-details-title" title="{{task.title}}">{{task.title | truncateLongString}}</h1>
      {% else %}
        <h1 class="govuk-heading-xl task-details-title">{{task.title | truncateLongString}}</h1>
      {% endif %}

      <a class="entity-action-link fake-link" onClick="ClientFunctions.confirmDelete({{task.id}})">Delete</a>
    </div>

    {{ myInputPopup }}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Description"
          },
          value: {
            html: task.description
          },
          actions: {
            items: [
              {
                href: '#',
                text: "Change",
                visuallyHiddenText: "change name",
                attributes: {
                  "data-task": (task | dump),
                  "onClick": "ClientFunctions.placeholderPopup(this, 'description')"
                }
              }
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: task.status.title
          },
          actions: {
            items: [
              {
                href: '#',
                text: "Change",
                visuallyHiddenText: "change status",
                attributes: {
                  "data-task": (task | dump),
                  "onClick": "ClientFunctions.placeholderPopup(this, 'status')"
                }
              }
            ]
          }
        },
        {
          key: {
           text: "Due Date"
          },
          value: {
           html: task.dueAt
          },
          actions: {
            items: [
              {
                href: '#',
                text: "Change",
                visuallyHiddenText: "change due date",
                attributes: {
                  "data-task": (task | dump),
                  "onClick": "ClientFunctions.placeholderPopup(this, 'dueAt')"
                }
              }
            ]
          }
        }
      ]
    }) }}

  {% endif %}

{% endblock %}
