{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "jgw/components/my-task-list/macro.njk" import myTaskList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <h1 class="govuk-heading-xl">Your Tasks</h1>

  {% if tasks %}
    {{ myTaskList({tasks: tasks}) }}
  {% endif %}

{% endblock %}
