{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "jgw/components/my-task-list/macro.njk" import myTaskList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <div class="title-flex">
    <h1 class="govuk-heading-xl task-details-title">Your Tasks</h1>
    <a class="entity-action-link" href="/create">Create</a>
  </div>
  
  {% if tasks %}
    {{ myTaskList({tasks: tasks}) }}
  {% endif %}

{% endblock %}
