{%- set taskList -%}
    <div class="my-task-list">
        <div class="my-task-list-header">
            <p>Title</p>
            <p>Due At</p>
            <p>Status</p>
        </div>
        {% for task in params.tasks %}
                {% if task %}
                    <div class="my-task-list-item">
                        <a class="my-task-list-title" href="/details?id={{task.id}}">{{task.title | truncateLongString}}</a>
                        <!--<p class="my-task-list-description">{{task.description}}</p>-->
                        <p class="my-task-list-due-at">{{task.dueAt | formatDate}}</p>
                        <div>
                            <p class="my-task-list-status task-status-{{task.status.id}}">{{task.status.title}}</p>
                        </div>
                    </div>
                {% endif %}
        {% else %}
            <p>You have no tasks</p>
        {% endfor %}
    </div>
{%- endset %}

{{ taskList | safe }}
